
# Ignored files and directories due to file size >100mb

/src/data/interim/2010-2023 Crime_Traffic_Collisions_Data_R1 .csv
/src/data/interim/victim_age_feature_data_unscaled.csv
/src/data/interim/victim_sex_feature_data_unscaled.csv
/src/data/interim/2010-2023 Crime_Traffic_Collisions_Data_R2 .csv
/src/data/interim/victim_age_target_data_unscaled.csv
/src/data/interim/victim_sex_target_data_unscaled.csv
/src/data/processed/victim_age_feature_data_processed.csv
/src/data/processed/victim_age_target_data_processed.csv
/src/data/processed/victim_sex_feature_data_processed.csv
/src/data/processed/victim_sex_target_data_processed.csv
/src/data/raw/2010-2023 Crime_Traffic_Collisions_Data .csv
/src/models/victim_age_predictor_model.pkl
/src/models/victim_sex_predictor_model.pkl

*.DS_Store